<div class="text-center">
    <div class="form-signinbox">
        <form role="form" method="post" action="/movies/create" class="form-signin">
        <h2 class="mb-3">Add New Movie</h2><br>
            <div>
                <div>
                    <label>Title</label>
                    <input type="text" name="title" class="form-control" required autofocus>
                </div>
                <br>
                <div>
                    <label>Genre</label> 
                    <input type="text" name="genre" class="form-control" required>
                </div>
                <br>
                <div>
                    <label>Description</label>
                    <input type="text" name="description" class="form-control" required>
                </div>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
            </div>
        </form>
    </div>
</div>