<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<div class="text-center">
  <div class="form-signinbox">
    <form role="form" method="post" action="/user/login" class="form-signin">
      <h1 class="mb-3">Welcome!</h1>
        <div>
            <div><input type="email" name="email" class="form-control" placeholder="Email address" required autofocus></div>
            <div><input type="password" name="password" class="form-control" placeholder="Password" required></div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
      <a class="mt-5 mb-3 text-muted" href="/register">No Account? Register Here</p>
    </form>
  </div>
</div>